src/main/mule/readfile.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0790325-1a76-4ee2-b878-ab58447cabfa" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="d68bed40-9249-4c87-84d3-c82f49b8d16f" />
	<flow name="readfileFlow" doc:id="6dfded3f-2bbd-4e73-85a3-b4ef455d865a" >
		<http:listener doc:name="Listener" doc:id="67a48146-a422-44c9-bded-8861a7e7da43" config-ref="HTTP_Listener_config" path="/filepath" allowedMethods="POST">
			<repeatable-in-memory-stream />
		</http:listener>
		<set-variable value="#[payload.directorypath]" doc:name="Set Variable" doc:id="f12cc783-38af-4c15-a7e1-308eda569bd1" variableName="directorypath"/>
		<file:list doc:name="List" doc:id="8cbd2f90-d340-4a10-a63d-8cb60ecf79d2" directoryPath="#[payload.directorypath]" config-ref="File_Config"/>
		<set-variable value="#[payload[0].attributes.fileName]" doc:name="Set Variable" doc:id="1ddfef3a-6dce-4ab1-b974-f126586d81b4" variableName="filename"/>
		<file:read doc:name="Read" doc:id="8bf0a96b-1ab7-47de-b102-bde584aacafc" path="#[vars.directorypath ++ '/' ++ vars.filename]" outputMimeType="application/xlsx"/>
		<ee:transform doc:name="Transform Message" doc:id="8a82e88b-aae2-4b39-a916-4b2ef36c8270" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
input payload application/xlsx
---
payload.data1 map
{ 
	"eeid":$.EEID,
	"department":$.Department
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="457d1ba6-1804-4d54-a919-df79d37b5c20" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"data":payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:move doc:name="Move" doc:id="3e2de18f-22c1-43cd-b599-aabbb172bb66" sourcePath="#[vars.directorypath ++ '/' ++ vars.filename]" targetPath="#[vars.directorypath ++ '/' ++ '/archive']"/>
	</flow>
</mule>
